<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Política de Privacidad</title>
    <link rel="stylesheet" href="tu_estilo.css">
    <style>
        body {
            font-size: 26px;
            color: #000000; /* Color de texto más oscuro */
            line-height: 1.6;
            margin: 20px;
        }
        h1 {
            font-size: 28px; /* Letras más grandes para títulos */
            color: #000; /* Negro sólido */
        }
        section {
            margin-top: 20px;
        }
        footer {
            font-size: 14px; /* Letras más pequeñas para el pie de página */
            color: #666; /* Gris oscuro */
            text-align: right;
        }
    </style>
</head>
<body>
    <header>
        <h1>Política de Privacidad</h1>
    </header>
    <section>
        <!-- Contenido de tu política de privacidad -->
        <p>
            Política de Privacidad



El Sistema Nacional de Orquestas y Coros Juveniles e Infantiles de Venezuela (en adelante, "el Sistema") se compromete a proteger la privacidad de todos los usuarios de nuestra plataforma de base de datos. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas. Al utilizar nuestros servicios, aceptas los términos y condiciones de esta política.
        </p>
        <p>
            Información Recopilada

El Sistema recopila información personal de los usuarios, que incluye, entre otros datos, el nombre, documento de identificación, fecha de nacimiento, profesión y asignación de todo el personal relacionado con los núcleos musicales. Además, se recopila información sobre los alumnos, que incluye nombre, documento de identificación (si está disponible), edad, fecha de nacimiento e instrumento que tocan. También recopilamos información sobre los instrumentos y otros elementos utilizados en los núcleos musicales.

Uso de la Información

La información recopilada se utiliza para gestionar eficazmente el funcionamiento de los núcleos musicales, incluyendo la asignación de personal y alumnos, y para mantener un registro preciso de los instrumentos y recursos disponibles. La información personal se utiliza exclusivamente con fines administrativos y operativos internos del Sistema.

Protección de la Información

El Sistema se compromete a proteger la información personal de sus usuarios. Implementamos medidas de seguridad técnicas y administrativas para proteger tus datos contra el acceso no autorizado, la divulgación, la alteración o la destrucción.

Divulgación de la Información

El Sistema no compartirá, venderá ni alquilará tu información personal a terceros sin tu consentimiento expreso, a menos que sea requerido por la ley o por una orden judicial.
        </p>
        <p>
            Términos y Condiciones



Al acceder y utilizar la plataforma de base de datos del Sistema Nacional de Orquestas y Coros Juveniles e Infantiles de Venezuela, aceptas los siguientes términos y condiciones:

Uso de la Plataforma

Solo puedes utilizar la plataforma si eres un miembro autorizado del Sistema.

Te comprometes a proporcionar información precisa y actualizada en la plataforma.

Privacidad y Seguridad

Debes cumplir con la política de privacidad del Sistema y mantener tu información de inicio de sesión segura.
Propiedad Intelectual

El contenido y los derechos de propiedad intelectual de la plataforma son propiedad del Sistema. No puedes copiar, modificar o distribuir el contenido sin autorización.
Responsabilidad

El Sistema no se hace responsable de cualquier pérdida o daño causado por el uso de la plataforma.
Modificaciones

El Sistema se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios se publicarán en la plataforma.
Finalización del Uso

El Sistema se reserva el derecho de finalizar tu acceso a la plataforma en caso de incumplimiento de estos términos y condiciones.
Al utilizar la plataforma, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con alguno de los términos, te pedimos que no utilices la plataforma.

Este documento constituye un acuerdo legal entre tú y el Sistema Nacional de Orquestas y Coros Juveniles e Infantiles de Venezuela. Te recomendamos revisar estos documentos periódicamente, ya que pueden estar sujetos a cambios. Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad o nuestros términos y condiciones, no dudes en ponerte en contacto con nosotros.
        </p>
    </section>
    <footer>
        <!-- Puedes agregar un pie de página si lo deseas -->
        <p>&copy; Copyright Sistema Nacional de Orquestas y Coros Juveniles e Infantiles de Venezuela. 2023 </p>
    </footer>
</body>
</html>
